<%= form_for(@plantype) do |f| %>
  <% if @plantype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plantype.errors.count, "error") %> prohibited this plantype from being saved:</h2>

      <ul>
      <% @plantype.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :plantype_id %><br />
    <%= f.number_field :plantype_id %>
  </div>
  <div class="field">
    <%= f.label :plantype_name %><br />
    <%= f.text_field :plantype_name %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :plantype_currency %><br />
    <%= f.text_field :plantype_currency %>
  </div>
  <div class="field">
    <%= f.label :deposit_fund_id %><br />
    <%= f.number_field :deposit_fund_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
