<p id="notice"><%= notice %></p>

<p>
  <b>Company:</b>
  <%= @company.company_id %>
</p>

<p>
  <b>Company name:</b>
  <%= @company.company_name %>
</p>

<p>
  <b>Company last update:</b>
  <%= @company.company_last_update %>
</p>


<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
