<p id="notice"><%= notice %></p>

<p>
  <b>Market:</b>
  <%= @monitoredmarket.market_id %>
</p>

<p>
  <b>Market friendly name:</b>
  <%= @monitoredmarket.market_friendly_name %>
</p>

<p>
  <b>Market classification:</b>
  <%= @monitoredmarket.market_classification %>
</p>

<p>
  <b>Query name:</b>
  <%= @monitoredmarket.query_name %>
</p>

<p>
  <b>Query section:</b>
  <%= @monitoredmarket.query_section %>
</p>

<p>
  <b>Market msci name:</b>
  <%= @monitoredmarket.market_msci_name %>
</p>

<p>
  <b>Msci index code:</b>
  <%= @monitoredmarket.msci_index_code %>
</p>

<p>
  <b>Market in:</b>
  <%= @monitoredmarket.market_in %>
</p>

<p>
  <b>Market current date:</b>
  <%= @monitoredmarket.market_current_date %>
</p>

<p>
  <b>Market current price:</b>
  <%= @monitoredmarket.market_current_price %>
</p>

<p>
  <b>Market dailychange:</b>
  <%= @monitoredmarket.market_dailychange %>
</p>

<p>
  <b>Market reference date:</b>
  <%= @monitoredmarket.market_reference_date %>
</p>

<p>
  <b>Market reference price:</b>
  <%= @monitoredmarket.market_reference_price %>
</p>

<p>
  <b>Market change from ref:</b>
  <%= @monitoredmarket.market_change_from_ref %>
</p>

<p>
  <b>Market change from switch:</b>
  <%= @monitoredmarket.market_change_from_switch %>
</p>

<p>
  <b>Market override:</b>
  <%= @monitoredmarket.market_override %>
</p>

<p>
  <b>Market switch:</b>
  <%= @monitoredmarket.market_switch %>
</p>

<p>
  <b>Market last switch date:</b>
  <%= @monitoredmarket.market_last_switch_date %>
</p>

<p>
  <b>Market last switch price:</b>
  <%= @monitoredmarket.market_last_switch_price %>
</p>

<p>
  <b>Market current process date:</b>
  <%= @monitoredmarket.market_current_process_date %>
</p>

<p>
  <b>Last mod:</b>
  <%= @monitoredmarket.last_mod %>
</p>

<p>
  <b>State:</b>
  <%= @monitoredmarket.state %>
</p>

<p>
  <b>Reason:</b>
  <%= @monitoredmarket.reason %>
</p>

<p>
  <b>Market currency:</b>
  <%= @monitoredmarket.market_currency %>
</p>


<%= link_to 'Edit', edit_market_path(@monitoredmarket) %> |
<%= link_to 'Back', monitoredmarkets_path %>
