<%= form_for(@plantypefund) do |f| %>
  <% if @plantypefund.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plantypefund.errors.count, "error") %> prohibited this plantypefund from being saved:</h2>

      <ul>
      <% @plantypefund.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fund_id %><br />
    <%= f.number_field :fund_id %>
  </div>
  <div class="field">
    <%= f.label :fund_name %><br />
    <%= f.text_field :fund_name %>
  </div>
  <div class="field">
    <%= f.label :fund_identifier %><br />
    <%= f.text_field :fund_identifier %>
  </div>
  <div class="field">
    <%= f.label :market_id %><br />
    <%= f.number_field :market_id %>
  </div>
  <div class="field">
    <%= f.label :fund_currency %><br />
    <%= f.text_field :fund_currency %>
  </div>
  <div class="field">
    <%= f.label :fund_fkey %><br />
    <%= f.text_field :fund_fkey %>
  </div>
  <div class="field">
    <%= f.label :fund_type %><br />
    <%= f.text_field :fund_type %>
  </div>
  <div class="field">
    <%= f.label :company_id %><br />
    <%= f.number_field :company_id %>
  </div>
  <div class="field">
    <%= f.label :plantype_id %><br />
    <%= f.number_field :plantype_id %>
  </div>
  <div class="field">
    <%= f.label :fund_isin %><br />
    <%= f.text_field :fund_isin %>
  </div>
  <div class="field">
    <%= f.label :last_mod %><br />
    <%= f.datetime_select :last_mod %>
  </div>
  <div class="field">
    <%= f.label :state %><br />
    <%= f.number_field :state %>
  </div>
  <div class="field">
    <%= f.label :reason %><br />
    <%= f.text_field :reason %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
