<h1>Listing plantypefunds</h1>

<table>
  <tr>
    <th>Fund</th>
    <th>Fund name</th>
    <th>Fund identifier</th>
    <th>Market</th>
    <th>Fund currency</th>
    <th>Fund fkey</th>
    <th>Fund type</th>
    <th>Company</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @plantypefunds.each do |plantypefund| %>
  <tr>
    <td><%= plantypefund.fund_id %></td>
    <td><%= plantypefund.fund_name %></td>
    <td><%= plantypefund.fund_identifier %></td>
    <td><%= plantypefund.market_id %></td>
    <td><%= plantypefund.fund_currency %></td>
    <td><%= plantypefund.fund_fkey %></td>
    <td><%= plantypefund.fund_type %></td>
    <td><%= plantypefund.company_id %></td>
    <td><%= link_to 'Show', plantypefund %></td>
    <td><%= link_to 'Edit', edit_plantypefund_path(plantypefund) %></td>
    <td><%= link_to 'Destroy', plantypefund, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Plantypefund', new_plantypefund_path %>
