<p id="notice"><%= notice %></p>

<p>
  <b>Fund:</b>
  <%= @plantypefund.fund_id %>
</p>

<p>
  <b>Fund name:</b>
  <%= @plantypefund.fund_name %>
</p>

<p>
  <b>Fund identifier:</b>
  <%= @plantypefund.fund_identifier %>
</p>

<p>
  <b>Market:</b>
  <%= @plantypefund.market_id %>
</p>

<p>
  <b>Fund currency:</b>
  <%= @plantypefund.fund_currency %>
</p>

<p>
  <b>Fund fkey:</b>
  <%= @plantypefund.fund_fkey %>
</p>

<p>
  <b>Fund type:</b>
  <%= @plantypefund.fund_type %>
</p>

<p>
  <b>Company:</b>
  <%= @plantypefund.company_id %>
</p>


<%= link_to 'Edit', edit_plantypefund_path(@plantypefund) %> |
<%= link_to 'Back', plantypefunds_path %>
